@font-face {
    src: url("Nunito/Nunito-Regular.ttf");
    font-family: regular;
  }
  @font-face {
    src: url("Nunito/Nunito-ExtraBold.ttf");
    font-family: header;
  }
  
  @font-face {
    src: url("Nunito/Nunito-SemiBold.ttf");
    font-family: heading;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: regular;
  }